header {
    background-color: #e7000b;
    opacity: 0.8;
}

/* public/css/style.css */
.logo {
    height: 50px;

}

body {
    background-image: url('../images/homepage_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}